﻿/* -------------------------------------------------------------------------------- 
*
* @package: [WP] Starter CSS by Shambix.com - info@shambix.com
* Name: [WP] Starter Child Theme Responsive CSS
*
-------------------------------------------------------------------------------- */

@import "variables.less";
@import "elements.less";

/* ----------------------------------------------------------------------------- 
*
* Handy Reference for Bootstrap Media Queries
*
-------------------------------------------------------------------------------- */

// Extra small devices (phones, less than 768px)
/*@screen-xs-max: "767px";
@media (max-width: @screen-xs-min) {  }*/

// Small devices (tablets, 768px and up)
/*@screen-sm-min: "768px";
@screen-sm-max: "991px";
@media (min-width: @screen-sm-min) {  }*/

// Medium devices (desktops, 992px and up)
/*@screen-md-min: "992px";
@screen-md-max: "1199px";
@media (min-width: @screen-md-min) {  }*/

// Large devices (large desktops, 1200px and up) */
/*@screen-lg-min: "1200px";
@media (min-width: @screen-lg-min) {  }*/


/*@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }*/


/* -------------------------------------------------------------------------------- 
*
* GENERAL
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* HEADER
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* FOOTER
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* HOME
*
-------------------------------------------------------------------------------- */