﻿/* -------------------------------------------------------------------------------- 
*
* @package: [WP] Starter CSS by Shambix.com - info@shambix.com
* Name: [WP] Starter Child Theme CSS
*
-------------------------------------------------------------------------------- */
@import url('../style.css');

//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);*/
/*@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);*/

@import "variables.less";
@import "elements.less";

/* -------------------------------------------------------------------------------- 
*
* [WP] Starter - CUSTOM RESET
*
-------------------------------------------------------------------------------- */
//article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{/*quotes:"\201C" "\201D" "\2018" "\2019";*/}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
a, a:focus, a:active, img a, .btn:focus, .btn:active {outline:none;	border:none;}
ul li {list-style: none outside none;}
code {.fs(80%);}

/* -------------------------------------------------------------------------------- 
*
* GENERAL
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* HEADER
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* FOOTER
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* HOME
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* ARCHIVE / CATEGORY
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* SINGLE
*
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
*
* PAGE
*
-------------------------------------------------------------------------------- */